*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

venv
app.db
microblog.log*

# Terraform
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/ansible_inventory.ini
terraform/*.pem
terraform/terraform.tfvars
terraform/output/

# Ansible
ansible/hosts.ini
ansible/*.pem
ansible/files/microblog/docker_config.json
ansible/group_vars/all.yml
